<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses</title>
  <link rel="stylesheet" href="../css/courses.css">
</head>
<body>
   <!-- Navbar Section -->
   <nav class="navbar">
    <div class="navbar__container">
      <!-- <a href="#home" id="navbar__logo">COLOR</a> -->
      <img src="../images/logo.png" alt="" style="margin-top: 10px" />
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span> <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="index.html" class="navbar__links" id="home-page">Home</a>
        </li>
        <li class="navbar__item">
          <a href="index.html" class="navbar__links" id="about-page">About</a>
        </li>
        <li class="navbar__item">
          <a href="#services" class="navbar__links" id="services-page"
            >Services</a
          >
        </li>

        <li class="navbar__item">
          <a href="contact.html" class="navbar__links" id="contact-page"
            >Contact</a
          >
        </li>
        <li class="navbar__btn">
          <a href="signup.html" class="button" id="signup">Login</a>
        </li>
      </ul>
    </div>
  </nav>


<!-- Section 1 -->
<div class="img">
  <img src="../images/3.jpeg" alt="">
</div>

<!-- section 2 -->
<div class="section_2">
  <h2 class="section_2_heading">
   <strong>Prices</strong> 
</div>
<hr>
<p class="section_2_p">* Registration fee is non-refundable. It is included in the total fee given below.</p>
<div class="data">
  <div class="left">
  
      <span class="left_h2"><h4>3-MONTH ONLINE COURSE (TWICE A WEEK)</h4></span><br>
    <span class="left_h1"><h3>Rs. 45,000/- + GST</h3></span><br>
    <span><strong>Music Theory :</strong></span><br>
    <span>Understanding Different Genres, Staff Notation (Grand Staff, Bass/Treble Clefs, Representation), Piano Basics (Finger Exercises, Theory Implementation, Chord Progressions), Time Signatures (Basic to Advanced)</span><br><br>
    <span><strong>Sound Theory:</strong></span><br>
    <span>Fundamentals of Sound (Signal Flow, Analog & Digital Sound), Audio Resolution (Sample Rate, Bit Depth & Bit Rate), Music Production Terminology, Cables & Connections (Types, Usage)</span><br><br>
    <span><strong>MIDI:</strong></span><br>
    <span>Music Programming/Arrangement, Sound Design (Designing Your Own Kick, Bass, Plucks, Pads etc.), Creating A Track From Scratch, 3rd Party Instruments (Kontakt, Omnisphere)</span><br><br>
    <span><strong>Recording:</strong></span><br>
    <span>Gain Staging, Role of Pre Amps & Converters, Analog Hardware (Routing & Application), Microphones - History, Types, DI Box, Polar Pattern & Stereo Miking Techniques (Practical)</span><br><br>
    <span><strong>Editing:</strong></span><br>
    <span>Comping, Manual Pitch/Time Correction & Auto Tune</span><br><br>
    <span><strong>Equalisation:</strong></span><br>
    <span>Achieving Clarity In The Mix, Tone Shaping & Masking - Concept & Application</span><br><br>
    <span><strong>Compression:</strong></span><br>
    <span>Setting the balance of the track in terms of Dynamic Range & Tone Shaping - Concept & Application</span><br><br>
    <span><strong>FX & Automation:</strong></span><br>
    <span>Reverb, Delay, Echo Design, Sends, Bus & Aux Tracks (Concept & Application). Different Modes Of Automation</span><br><br>
    <span><strong>Mastering:</strong></span><br>
    <span>Tonal Balance, Dynamics Adjustment, Stereo Imaging, Loudness - Preparing Your Track For Different Streaming Services (Spotify, YouTube, iTunes etc.)</span><br><br>
    <span><strong>3rd Party Plugins:</strong></span><br>
    <span>Plugins used by Industry Experts (Waves, Izotope, Fab Filter, Acustica Audio etc.) and an insight into my Personal Projects for Reference & Application.</span><br><br>
    <span><strong>Advanced Mixing Techniques:</strong></span><br>
    <span>Side Chaining, Parallel Compression/Distortion, Chorus, Artificial Harmonies, Sampling, Vocal Chops, Saturation Plugins, Stereo Widening, Mid-Side Processing, Dynamic EQ & Miscellaneous Topics.</span><br><br>
    <span><strong>Monthly Quizzes:</strong></span><br>
    <span>To make sure that everybody is able to match the pace of the sessions and analyse the key areas of improvement for the students that they can work upon</span><br><br>
  

    <button type="button" class="buy_course" onclick="openpopup()">Buy Now</button>
    
  </div>
  <div class="right">
    <span class="right_h2"><h4>3-MONTH OFFLINE COURSE (TWICE A WEEK)</h4></span><br>
    <span class="right_h1"><h3>Rs. 60,000/- + GST </h3></span><br>
    <span><strong>Music Theory :</strong></span><br>
    <span>Understanding Different Genres, Staff Notation (Grand Staff, Bass/Treble Clefs, Representation), Piano Basics (Finger Exercises, Theory Implementation, Chord Progressions), Time Signatures (Basic to Advanced)</span><br><br>
    <span><strong>Sound Theory:</strong></span><br>
    <span>Fundamentals of Sound (Signal Flow, Analog & Digital Sound), Audio Resolution (Sample Rate, Bit Depth & Bit Rate), Music Production Terminology, Cables & Connections (Types, Usage)</span><br><br>
    <span><strong>MIDI:</strong></span><br>
    <span>Music Programming/Arrangement, Sound Design (Designing Your Own Kick, Bass, Plucks, Pads etc.), Creating A Track From Scratch, 3rd Party Instruments (Kontakt, Omnisphere)</span><br><br>
    <span><strong>Recording:</strong></span><br>
    <span>Gain Staging, Role of Pre Amps & Converters, Analog Hardware (Routing & Application), Microphones - History, Types, DI Box, Polar Pattern & Stereo Miking Techniques (Practical)</span><br><br>
    <span><strong>Editing:</strong></span><br>
    <span>Comping, Manual Pitch/Time Correction & Auto Tune</span><br><br>
    <span><strong>Equalisation:</strong></span><br>
    <span>Achieving Clarity In The Mix, Tone Shaping & Masking - Concept & Application</span><br><br>
    <span><strong>Compression:</strong></span><br>
    <span>Setting the balance of the track in terms of Dynamic Range & Tone Shaping - Concept & Application</span><br><br>
    <span><strong>FX & Automation:</strong></span><br>
    <span>Reverb, Delay, Echo Design, Sends, Bus & Aux Tracks (Concept & Application). Different Modes Of Automation</span><br><br>
    <span><strong>Mastering:</strong></span><br>
    <span>Tonal Balance, Dynamics Adjustment, Stereo Imaging, Loudness - Preparing Your Track For Different Streaming Services (Spotify, YouTube, iTunes etc.)</span><br><br>
    <span><strong>3rd Party Plugins:</strong></span><br>
    <span>Plugins used by Industry Experts (Waves, Izotope, Fab Filter, Acustica Audio etc.) and an insight into my Personal Projects for Reference & Application.</span><br><br>
    <span><strong>Advanced Mixing Techniques:</strong></span><br>
    <span>Side Chaining, Parallel Compression/Distortion, Chorus, Artificial Harmonies, Sampling, Vocal Chops, Saturation Plugins, Stereo Widening, Mid-Side Processing, Dynamic EQ & Miscellaneous Topics.</span><br><br>
    <span><strong>Monthly Quizzes:</strong></span><br>
    <span>To make sure that everybody is able to match the pace of the sessions and analyse the key areas of improvement for the students that they can work upon</span><br><br>
    <button type="button" class="buy_course" onclick="openpopup()">Buy Now</button>
  </div>
  
  

</div>
</div><br><br>
<div class="popup_button" id="popup">
  <h3>Enter Your Details</h3>
  <form method="get" id="course_form" name="signup">
    <label for="name">Username:&nbsp;</label><br>
    <input type="text" name="name" id="name" required><br>
    <label for="password">Password: &nbsp;</label><br>
    <input type="Password" name="password" id="password" required><br>
    <label for="email">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
    <input type="text" name="email" id="email" required><br><br>
    <!-- <label for="phone">Mobile Number:</label><br>
    <input type="tel" name="phone" id="phone" required><br><br> -->
    <button type="button" onclick="formvalidation()" >Submit</button>
  </form><br>
 
</div><br><br>

<!-- Footer Section -->
<div class="footer__container">
  <div class="footer__links">
    <div class="footer__link--wrapper">
      <div class="footer__link--items">
        <h2>About Us</h2>
        <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
        <a href="/">Careers</a> <a href="/">Terms of Service</a>
      </div>
      <div class="footer__link--items">
        <h2>Contact Us</h2>
        <a href="/">Contact</a> <a href="/">Support</a>
        <a href="/">Destinations</a>
      </div>
    </div>
    <div class="footer__link--wrapper">
      <div class="footer__link--items">
        <h2>Videos</h2>
        <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
        <a href="/">Agency</a>
      </div>
      <div class="footer__link--items">
        <h2>Social Media</h2>
        <a href="/">Instagram</a> <a href="/">Facebook</a>
        <a href="/">Youtube</a> <a href="/">Twitter</a>
      </div>
    </div>
  </div>
  <section class="social__media">
    <div class="social__media--wrap">
      <div class="footer__logo">
        <a href="/" id="footer__logo" style="font-size: large">TVOX</a>
      </div>
      <p class="website__rights">© TVOX 2022. All rights reserved</p>
      <div class="social__icons">
        <a href="/" class="social__icon--link" target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="/" class="social__icon--link"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="/" class="social__icon--link"
          ><i class="fab fa-youtube"></i
        ></a>
        <a href="/" class="social__icon--link"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="/" class="social__icon--link"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </div>
  </section>
</div>
<script src="../js/index.js"></script>
<script src="../js/courses.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</body>
</html>