<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll Website</title>
    <!-- <link rel="stylesheet" href="../css/contact.css" /> -->
    <link rel="stylesheet" href="../css/signupnext.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body onload="document.registration.Firstname.focus();">
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <img src="../images/logo.png" alt="" style="margin-top: 10px" />
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="index.html" class="navbar__links" id="home-page">Home</a>
          </li>
          <li class="navbar__item">
            <a href="index.html" class="navbar__links" id="about-page">About</a>
          </li>
          <li class="navbar__item">
            <a href="index.html" class="navbar__links" id="services-page"
              >Services</a
            >
          </li>

          <li class="navbar__item">
            <a href="contact.html" class="navbar__links" id="contact-page"
              >Contact</a
            >
          </li>
          <li class="navbar__btn">
            <a href="signup.html" class="button" id="signup">Login</a>
          </li>

          
        </ul>
      </div>
    </nav>
    <!-- end of nav bar -->

    <!--sign in  -->
   <div id="signin">
    <h1>Sign Up Here</h1>
    <form name='registration' onSubmit="return formValidation();">
        <ul>
        <li><label for="Firstname">Firstname:</label></li>
        <li><input type="text" name="Firstname" size="50"  required/></li>
        <!-- <label for="Firstname" style="color:red">*</label></br> -->
        <li><label for="Lastname">Lastname:</label></li>
        <li><input type="text" name="Lastname" size="50"  required/></li>
        <!-- <label for="Lastname" style="color:red">*</label></br> -->
        <li><label for="email">Email:</label></li>
        <li><input type="text" name="email" size="50" required /></li>
        <!-- <label for="email" style="color:red">*</label></br> -->
        <li><label for="Re_enter_Email">Re-Enter Email:</label></li>
        <li><input type="text" name="Re_enter_email" size="50"  required/></li>
        <!-- <label for="Re_enter_Email" style="color:red">*</label></br> -->
        <li><label for="password">Password:</label></li>
        <li><input type="password" name="password" size="50" required /></li>
        <!-- <label for="address" style="color:red">*</label></br> -->
        <li><label for="country">Country:</label></li>
        <li><select name="country">
        <option selected="" value="Default">(Please select a country)</option>
        <option value="AF">Australia</option>
        <option value="AL">Canada</option>
        <option value="DZ">India</option>
        <option value="AS">Russia</option>
        <option value="AD">USA</option>
        </select></li>
        <!-- <label for="country" style="color:red">*</label></br> -->
        <li><label for="zip">ZIP Code:</label></li>
        <li><input type="text" name="zip" /></li>
        <!-- <label for="zip" style="color:red">*</label></br> -->
        <li><label id="gender">Sex:</label></li>
        <li><input type="radio" name="msex" value="Male" /><span>Male</span></li>
        <li><input type="radio" name="fsex" value="Female" /><span>Female</span></li>
        <li><label>Language:</label></li>
        <li><input type="checkbox" name="en" value="en" checked /><span>English</span></li>
        <li><input type="checkbox" name="nonen" value="noen" /><span>Non English</span></li>
      </br></br>
        <li><input type="submit" name="sign Up" value="Sign Up" /></li>
        </ul>
        </form>
<!-- </div> -->
</div>
    <!-- Footer Section -->
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>About Us</h2>
            <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
            <a href="/">Careers</a> <a href="/">Terms of Service</a>
          </div>
          <div class="footer__link--items">
            <h2>Contact Us</h2>
            <a href="/">Contact</a> <a href="/">Support</a>
            <a href="/">Destinations</a>
          </div>
        </div>
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>Videos</h2>
            <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
            <a href="/">Agency</a>
          </div>
          <div class="footer__link--items">
            <h2>Social Media</h2>
            <a href="/">Instagram</a> <a href="/">Facebook</a>
            <a href="/">Youtube</a> <a href="/">Twitter</a>
          </div>
        </div>
      </div>
      <section class="social__media">
        <div class="social__media--wrap">
          <div class="footer__logo">
            <a href="/" id="footer__logo" style="font-size: large">TVOX</a>
          </div>
          <p class="website__rights">© TVOX 2022. All rights reserved</p>
          <div class="social__icons">
            <a href="/" class="social__icon--link" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
        </div>
      </section>
    </div>
    <!-- end of footer -->
    <script src="../js/signupnext.js"></script>
  </body>
</html>
